# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Env
.env
*.env
!*.env.example

# Node
node_modules/
dist/
*.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/
storage/

# Databases
*.db
*.db-journal
*.sqlite
*.sqlite3
*.sql
